@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
  font-weight: 400;
}
body{
  background-color: #D9D9D9;
}
.animated-element {
  opacity: 0;
  transform: translateY(50px); /* Começa levemente deslocado */
  transition: opacity 1s ease, transform 1s ease;
}

.animated-element.visible {
  opacity: 1;
  transform: translateY(0); /* Retorna à posição original */
}

/* Cabeçalho */
.cabecalho {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00796b;
  border: none;
}

.cabecalho-sec{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.link-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 2%;
}

.logos {
  width: 20px;
  height: 20px;
}
.cabecalho-frase{
  color: white;
  font-size: 1rem;
}
.cabecalho-interface {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cabecalho-link-redes{
  display: flex;
  gap: 15px
}

.cabecalho-link{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: 0.5s;
}
.cabecalho-link:hover{
  color: black;

}
/* Pagina Principal */
.pagina-principal{
  height: 95vh;
  width: 100%;
  background-image: url(../images/backgnd3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: start;
  justify-content: center;
}
.pagina-principal nav{
  width: 80%;
  background-color: rgba(85, 85, 85, 0.377);
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #00796b;
}
.logo-singular{
  height: 100px;
}
.pagina-principal nav a{
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.5s;
}
.pagina-principal nav a:hover{
  font-size: 1.5rem;
}


.quem-somos {
  background-color: #f5f5f5;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  background-image: url('images/back2gnd.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.quem-somos-container {
  display: flex;
  gap: 30px;
  justify-content: end;
  align-items: center;
  padding: 2%;
}

/* Estilo do conteúdo textual */
.quem-somos .conteudo {
  width: 40%;
}

.quem-somos .conteudo h2 {
  font-size: 2rem;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 20px;
}

.quem-somos .conteudo p {
  font-size: 1rem;
  line-height: 1.6;
  color: white;
  margin-bottom: 15px;
  text-align: justify;
}

.quem-somos .conteudo span {
  font-weight: bold;
  color: white; /* Cor verde para destaque */
}

.cobran {
  text-align: center;
  padding: 2% 15%;
  background-color: #e6e6e6;
  height: 70vh;
}

.cobran h2 {
  display: flex;
  font-size: 2.25rem;
  height: 15%;
  font-weight: 800;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se ajustem em várias linhas */
  justify-content: space-between;
  align-items: center; /* Espaço uniforme entre os itens */
  gap: 20px;
  height: 80%; /* Espaçamento entre os itens */
}

.flex-item {
  flex: 0 1 calc(33.333% - 20px); /* 3 itens por linha, com espaço de 20px */
  box-sizing: border-box; /* Inclui padding e border no tamanho total */
  perspective: 1000px; /* Habilita a perspectiva para a rotação 3D */
}

.card {
  position: relative;
  width: 100%;
  height: 300px; /* Define a altura do card */
  transform-style: preserve-3d; /* Permite rotação 3D */
  transition: transform 0.8s ease-in-out;
}

.flex-item:hover .card {
  transform: rotateY(180deg); /* Gira o card ao passar o mouse */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Oculta o lado inverso */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-front {
  background-color: #a3a3a3;
  color: #ffffff;
}

.card-back {
  background-color: #395d56;
  color: #ffffff;
  transform: rotateY(180deg);
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}
.card-back p{
  width: 80%;
}

.icon-container {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.icon-container img {
  max-width: 100%;
}

.flex-item p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}




.nossos-servicos {
  background-color: #49736c; /* Cor de fundo */
  padding: 4% 2%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.servicos-container{
  width: 40%;
}
.nossos-servicos h2 {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  width: 40%;
}

.servico {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 0;
}

.topico {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.topico span{
  font-size: 1.75rem;
  font-weight: 600;
}
.topico span.icon {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  transition: transform 0.3s ease;
}

.descricao {
  display: none;
  padding: 10px 0;
  font-size: 1.25rem;
  color: #f1f1f1;
}

.servico.open .descricao {
  display: block;
}

.servico.open .icon {
  transform: rotate(45deg); /* Altera o "+" para "x" ao expandir */
}


.informacao-container {
  display: flex;
  background-color: #D9D9D9;
  padding: 5% 2%;
}

.left-panel {
  width: 50%;
  background-color: #336e5c;
  border-radius: 25px;
  color: white;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-panel h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  width: 60%;
}

.left-panel p {
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  width: 60%;
}

.right-panel {
  width: 50%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  gap: 15px;
}

.icon-box {
  width: 100%;
  text-align: center;
}

.icon-box img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.icon-box p {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.fale-conosco {
  display: flex;
  align-items: center;
  justify-content: space-evenly; /* Garante que a altura ocupe toda a tela */
  background-color: #49736c;
  padding: 20px;
  box-sizing: border-box;
}

/* Container do formulário */
.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.form-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-container p {
  font-size: 14px;
  margin-bottom: 20px;
}

/* Estilo do formulário */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  gap: 20px;
}

.input-group div {
  flex: 1;
}

label {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

button {
  background-color: white;
  color: #49736c;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #395d56;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  color: #395d56;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.modal.active {
  display: block;
}
.modal button {
  margin-top: 20px;
  background-color: #49736c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.modal button:hover {
  background-color: #395d56;
}

/* Fundo escuro atrás do modal */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.overlay.active {
  display: block;
}


.rodape {
  background-color: #4d4d4d;
  color: #fff;
  padding: 20px 40px;
  font-size: 0.9rem;
}

.rodape-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
}

/* Estilo da seção da logo */
.rodape{
  flex: 1;
}

.logo {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rodape .logo p {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 10px;
}

.rodape .logo a {
  color: #ccc;
  text-decoration: none;
  font-size: 0.8rem;
}

.rodape .logo a:hover {
  text-decoration: underline;
}

/* Estilo das informações */
.rodape .informacoes {
  flex: 2;
  text-align: right;
}

.rodape .informacoes p {
  margin: 5px 0;
}

.rodape .informacoes a {
  color: #fff;
  text-decoration: none;
}

.rodape .informacoes a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 1080px) {
  .cabecalho-sec{
    width: 85%;
  }
  .cabecalho-frase{
    font-size: 0.75rem;
  }
  .cabecalho-link{
    font-size: 0.75rem;
  }

  .pagina-principal nav a{
    font-size: 0.8rem;
  }
  .pagina-principal nav{
    width: 90%;
    background-color: rgba(85, 85, 85, 0.377);
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid #00796b;
  }
  .logo-singular{
    height: 75px;
  }
  .cobran {
    height: auto;
  }
  .icon-container img{
    width: 120px;
  }
  .image-container img {
    width: 90%; /* Limita o tamanho máximo */
  }
  .slide {
    height: 350px; /* Altura aumentada */
  }
  .slide p {
    font-size: 1.4rem;
  }
  .flex-item {
    flex: 0 1 calc(50% - 20px); /* Dois itens por linha */
  }
  .metodologia {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .pagina-principal nav a{
    font-size: 0.75rem;
  }
  .flex-item {
    flex: 0 1 calc(50% - 20px); /* 2 itens por linha em telas menores */
  }
  .cronograma-container {
    flex-direction: column; /* Empilha as etapas verticalmente */
    gap: 30px; /* Aumenta o espaço entre os itens */
  }
  .etapa {
    width: 100%; /* Garante que cada etapa ocupe a largura disponível */
  }
  .fale-conosco {
    flex-direction: column;
  }

  .form-container {
    padding-right: 0;
  }

  .image-container {
    margin-top: 20px;
  }
  .quem-somos-container {
    flex-direction: column;
    text-align: center;
  }

  .quem-somos .imagem img {
    width: 100%;
    height: auto;
  }
  .quem-somos .conteudo {
    width: 90%;
    padding: 0 20px;
  }
  .rodape-container {
    padding: 10px;
    flex-direction: column;
    text-align: center;
  }

  .rodape .logo,
  .rodape .informacoes {
    text-align: center;
  }
  .logo{
    height: 100px;
  }
  .pagina-principal {
    height: 60vh;
  }

  .flex-item {
    flex: 0 1 calc(100% - 20px); /* Um item por linha */
  }
  .cobran {
    height: auto;
  }
  .cabecalho {
    height: 60px;
    gap: 10px;
  }
  .logos{
    width: 20px;
    height: 20px;
  }
  .nossos-servicos {
    flex-direction: column;
    gap: 40px;
  }
  .nossos-servicos h2{
    width: 70%;
  }
  .servicos-container{
    width: 70%;
  }
  .informacao-container{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .slide {
    height: 300px; /* Altura aumentada */
  }
  .slide p {
    font-size: 1.25rem;
  }
}
@media (max-width: 680px) {
  .cabecalho{
    display: none;
  }
  .pagina-principal nav a{
    font-size: 0rem;
  }
  .flex-item {
    flex: 0 1 100%; /* 1 item por linha em telas muito pequenas */
  }
  .numero {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .etapa p {
    font-size: 12px; /* Texto menor para caber em telas muito pequenas */
  }
  .pagina-principal {
    height: 70vh;
  }

  .flex-item p {
    font-size: 12px;
  }

  .cabecalho-interface a {
    font-size: 0.7rem;
  }
  .logo-principal{
    width: 80px;
    height: 40px;
  }
  .pagina-diferenciais{
    display: none;
  }
  .topico span {
    font-size: 1.25rem;
  }
  .left-panel {
    width: 90%;
  }
  .left-panel h2{
    width: 90%;
  }
  .form-container {
    width: 90%;
  }
  .image-container img {
    display: none;
  }
  .quem-somos .imagem img {
    display: none;
  }
  .quem-somos .conteudo {
    width: 90%;
  }
  .informacoes{
    font-size: 0.75rem;
  }
}

