<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singular Soluções</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header class="cabecalho">
        <section class="logo-empresa">
          <a href=""><img src="" alt="Logo da Singular"></a>
        </section>
        <section class="cabecalho-interface">
          <a class="link-logo" href=""><img class="logo" src="/images/instagram.png" alt="Logo Instagram"></a>
          <a class="link-logo" href=""><img class="logo" src="/images/whatsapp.png" alt="Logo Whatsapp"></a>
          <a href="">Fale Conosco</a>
          <a href="/login">Acesso</a>
        </section>
    </header>
    <main>
      <section class="pagina-principal"></section>
      <section class="pagina-diferenciais">
        <h2>NOSSOS DIFERENCIAIS</h2>
        <div class="slider-area">
          <div class="slider">
            <div class="slides">
              <div class="slide">
                <p>Relatório de cobranças em tempo real</p>
              </div>
              <div class="slide">
                <p>Sistema próprio de localização de devedores</p>
              </div>
              <div class="slide">
                <p>Consultoria de gestão financeira</p>
              </div>
              <div class="slide">
                <p>Equipe especializada</p>
              </div>
              <div class="slide">
                <p>Resultados de maneira assertiva</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="metodologia">
          <h2>NOSSA METODOLOGIA</h2>
          <div class="flex-container">
            <div class="flex-item">
              <div class="icon-container">
                <img src="images/voip.png" alt="Ligações VOIP/PABX"/>
              </div>
              <p>LIGAÇÕES VOIP/PABX</p>
            </div>
            <div class="flex-item">
              <div class="icon-container">
                <img src="images/whats.png" alt="WhatsApp e SMS"/>
              </div>
              <p>WHATSAPP E SMS</p>
            </div>
            <div class="flex-item">
              <div class="icon-container">
                <img src="images/email.png" alt="Email" />
              </div>
              <p>EMAIL</p>
            </div>
            <div class="flex-item">
              <div class="icon-container">
                <img src="images/plataforma.png" alt="Plataforma" />
              </div>
              <p>PLATAFORMA</p>
            </div>
            <div class="flex-item">
              <div class="icon-container">
                <img src="images/assinatura.png" alt="Assinatura Eletrônica" />
              </div>
              <p>ASSINATURA ELETRÔNICA</p>
            </div>
            <div class="flex-item">
              <div class="icon-container">
                <img src="images/mindmap.png" alt="Mindmap" />
              </div>
              <p>MINDMAP</p>
            </div>
          </div>
      </section>
      <section class="nossos-servicos">
        <h2>NOSSOS SERVIÇOS</h2>
      
        <!-- Div Pai para todos os serviços -->
        <div class="servicos-container">
          <div class="servico">
            <div class="topico" onclick="toggleTexto(this)">
              <span>Cobrança condominial, receita garantida</span>
              <span class="icon">+</span>
            </div>
            <div class="descricao">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum.</p>
            </div>
          </div>
      
          <div class="servico">
            <div class="topico" onclick="toggleTexto(this)">
              <span>Crédito para obras</span>
              <span class="icon">+</span>
            </div>
            <div class="descricao">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus pulvinar lacus, nec consequat sapien.</p>
            </div>
          </div>
      
          <div class="servico">
            <div class="topico" onclick="toggleTexto(this)">
              <span>Consultoria</span>
              <span class="icon">+</span>
            </div>
            <div class="descricao">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id sapien eget velit venenatis ullamcorper.</p>
            </div>
          </div>
      
          <div class="servico">
            <div class="topico" onclick="toggleTexto(this)">
              <span>Auditorias</span>
              <span class="icon">+</span>
            </div>
            <div class="descricao">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula leo nec dapibus suscipit.</p>
            </div>
          </div>
      
          <div class="servico">
            <div class="topico" onclick="toggleTexto(this)">
              <span>Certificações</span>
              <span class="icon">+</span>
            </div>
            <div class="descricao">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim, purus nec ultricies sagittis.</p>
            </div>
          </div>
      
          <div class="servico">
            <div class="topico" onclick="toggleTexto(this)">
              <span>Consultoria e assessoria em leilões</span>
              <span class="icon">+</span>
            </div>
            <div class="descricao">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac dolor eu libero molestie bibendum.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="cronograma">
        <h2>CRONOGRAMA</h2>
        <div class="cronograma-container">
          <div class="etapa">
            <div class="numero">1</div>
            <p>Análise da inadimplência e perfil dos devedores</p>
          </div>
          <div class="etapa">
            <div class="numero">2</div>
            <p>Início das cobranças extrajudiciais e judiciais</p>
          </div>
          <div class="etapa">
            <div class="numero">3</div>
            <p>Elaboração e disponibilização dos relatórios</p>
          </div>
          <div class="etapa">
            <div class="numero">4</div>
            <p>Disponibilização relatório periódico/anual</p>
          </div>
        </div>
      </section>
      <section class="informacao-container">
        <div class="left-panel">
            <h2>COBRANÇA CONDOMINIAL</h2>
            <p>
                Trazemos resultados simplificando a vida dos síndicos e dos condôminos e gerando valorização do condomínio através da recuperação de créditos de maneira ágil, assertiva, transparente e humanizada, sem onerar os adimplentes.
            </p>
        </div>
        <div class="right-panel">
            <div class="icon-box">
                <img src="extrajudicial-icon.png" alt="Cobrança Extrajudicial">
                <p>COBRANÇA EXTRAJUDICIAL</p>
            </div>
            <div class="icon-box">
                <img src="judicial-icon.png" alt="Cobrança Judicial">
                <p>COBRANÇA JUDICIAL</p>
            </div>
            <div class="icon-box">
                <img src="bonus-icon.png" alt="Bônus Exclusivo">
                <p>BÔNUS EXCLUSIVO</p>
            </div>
        </div>
      </section>
      <section class="fale-conosco">
        <div class="form-container">
          <h2>FALE CONOSCO</h2>
          <p>Preencha o formulário e receba o contato do nosso time de especialistas.</p>
          <form>
            <div class="input-group">
              <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Seu nome">
              </div>
              <div>
                <label for="sobrenome">Sobrenome:</label>
                <input type="text" id="sobrenome" name="sobrenome" placeholder="Seu sobrenome">
              </div>
            </div>
            <div class="input-group">
              <div>
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" placeholder="Seu e-mail">
              </div>
            </div>
            <div class="input-group">
              <div>
                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="telefone" placeholder="Seu telefone">
              </div>
              <div>
                <label for="empresa">Empresa:</label>
                <input type="text" id="empresa" name="empresa" placeholder="Nome da empresa">
              </div>
            </div>
            <button type="submit">ENVIAR</button>
          </form>
        </div>
        <div class="image-container">
          <img src="sua-imagem.jpg" alt="Pessoa utilizando smartphone">
        </div>
      </section>
      <section class="quem-somos">
        <div class="quem-somos-container">
          <div class="imagem">
            <img src="sua-imagem.jpg" alt="Pessoa utilizando smartphone">
          </div>
          <div class="conteudo">
            <h2>QUEM SOMOS?</h2>
            <p>
              Após 8 anos de experiência na advocacia condominial especializada, administração condominial e investimentos, 
              conhecemos a realidade e as dificuldades da gestão de um condomínio e sabemos da importância do 
              <span>planejamento</span>, <span>transparência</span> e <span>agilidade</span> para o dia a dia condominial.
            </p>
            <p>
              Assim surgiu a <span>SINGULAR</span>, com a proposta de unir <span>EXPERTISE TÉCNICA</span>, <span>INOVAÇÃO</span>, 
              <span>TRANSPARÊNCIA</span>, <span>AGILIDADE</span> e trazer não apenas diminuição/erradicação da inadimplência, mas, também, 
              auxiliar o(a)s síndico(a)s em boas práticas de Governança Condominial com foco no melhor aproveitamento e utilização dos recursos, 
              gerando valorização patrimonial para os condomínios.
            </p>
            <p>
              Somos a agilidade de uma cobrança tecnológica aliada à expertise humana de quem entende de condomínios.
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer class="rodape">
      <div class="rodape-container">
        <div class="logo">
          <img src="" alt="Logo Singular">
          <a href="#">política de privacidade</a>
        </div>
        <div class="informacoes">
          <p>Avenida Lima e Silva, 1539, Lagoa Nova, CEP: 59062-300, Natal/RN.</p>
          <p><a href="https://www.cobrancasingular.com.br" target="_blank">www.cobrancasingular.com.br</a></p>
          <p>@cobrancasingular</p>
          <p>Email: <a href="mailto:financeiro@cobrancasingular.com.br">financeiro@cobrancasingular.com.br</a></p>
          <p>Fone: (84) 4042-0462</p>
          <p>
            <span>&#x1F4F1;</span> 99932-7515
          </p>
        </div>
      </div>
    </footer>
    <script>
      const slides = document.querySelector('.slides');
      const slideCount = document.querySelectorAll('.slide').length;
      const itemsPerView = 3; // Quantos itens aparecem por vez
      let currentIndex = 0;
      let rotationCount = 0; // Contador de rotações completas
      const maxRotations = 2; // Número máximo de rotações permitidas



      function goToNextSlide() {
        // Verifica se já atingiu o limite de rotações
        if (rotationCount >= maxRotations) {
          clearInterval(sliderInterval); // Para o carrossel
          return; // Sai da função
        }

        // Move para o próximo conjunto de slides
        currentIndex += itemsPerView;

        // Se ultrapassar o total de slides, reseta para o começo e conta uma rotação
        if (currentIndex >= slideCount) {
          currentIndex = 0;
          rotationCount++;
        }

        // Atualiza a posição do carrossel
        slides.style.transform = `translateX(-${currentIndex * (100 / itemsPerView)}%)`;
      }

      // Configura o intervalo do carrossel
      const sliderInterval = setInterval(goToNextSlide, 3000); // Troca a cada 3 segundos

      function toggleTexto(element) {
      const servico = element.parentElement; // Seleciona o contêiner pai
      const descricao = servico.querySelector('.descricao'); // Seleciona a descrição

      // Alterna a classe "open"
      servico.classList.toggle('open');
    }

    </script>
</body>
</html>