@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
body{
  background-color: #D9D9D9;
}
/* Cabeçalho */
.cabecalho {
  padding: 1%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D9D9D9;
}

.link-logo {
  padding: 1%;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
}

.cabecalho-interface {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-hamburguer {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.menu-hamburguer.active {
  transform: rotate(90deg);
}

.logo-empresa{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho-interface a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.pagina-principal{
  background-color: #517d77;
  height: 80vh;
  width: 100%;
  background-image: url(../images/backgnd1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pagina-diferenciais {
  text-align: center;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  padding: 0% 8%;
}

.pagina-diferenciais h2 {
  display: flex;
  font-size: 2.25rem;
  height: 15%;
  font-weight: 800;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Slider container */
.slider-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 80%;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 33.333%; /* Três itens por vez */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #517d77;
  height: 450px;
  width: 250px;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 20px;
  padding: 1% 0% 0% 0%;
}

.slide p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  width: 90%;
  height: 30%; /* Ajustado para caber melhor */
}

.slide img {
  width: 100%;
  height: 60%; /* Maior proporção para imagens */
  border-radius: 0px 0px 20px 20px;
}

/* Remove bordas entre os slides */
.slide:not(:last-child) {
  border-right: none;
}
.metodologia {
  text-align: center;
  padding: 2% 15%;
  background-color: #e6e6e6;
  height: 70vh;
}

.metodologia h2 {
  display: flex;
  font-size: 2.25rem;
  height: 15%;
  font-weight: 800;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.flex-container {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; /* Espaço entre os itens */
  gap: 20px; /* Espaçamento entre as linhas */
}

.flex-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #a3a3a3;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  flex: 0 1 calc(33.333% - 20px); /* 3 itens por linha com gap de 20px */
  box-sizing: border-box;
  height: 40%;
}

.icon-container {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  overflow: hidden;
}

.icon-container img {
  max-width: 60%;
  max-height: 60%;
}

.flex-item p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.nossos-servicos {
  background-color: #49736c; /* Cor de fundo */
  padding: 4% 2%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.servicos-container{
  width: 40%;
}
.nossos-servicos h2 {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  width: 40%;
}

.servico {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 0;
}

.topico {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.topico span{
  font-size: 1.75rem;
  font-weight: 600;
}
.topico span.icon {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  transition: transform 0.3s ease;
}

.descricao {
  display: none;
  padding: 10px 0;
  font-size: 1.25rem;
  color: #f1f1f1;
}

.servico.open .descricao {
  display: block;
}

.servico.open .icon {
  transform: rotate(45deg); /* Altera o "+" para "x" ao expandir */
}

.cronograma {
  background-color: #e9ecef; /* Fundo cinza claro */
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2% 2%;
  border-radius: 8px;
  text-align: center;
  max-width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}

.cronograma h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #333;
}

.cronograma-container {
  display: flex;
  justify-content: space-between; /* Espaçamento igual entre as etapas */
  align-items: center;
  gap: 20px;
}

.etapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1; /* Faz com que todas as etapas tenham tamanhos iguais */
}

.numero {
  width: 50px;
  height: 50px;
  background-color: #49736c; /* Cor verde */
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.etapa p {
  font-size: 14px;
  color: #333;
  max-width: 200px; /* Para limitar o texto */
}


.informacao-container {
  display: flex;
  background-color: #D9D9D9;
  padding: 5% 2%;
}

.left-panel {
  width: 50%;
  background-color: #336e5c;
  border-radius: 25px;
  color: white;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-panel h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  width: 60%;
}

.left-panel p {
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  width: 60%;
}

.right-panel {
  width: 50%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  gap: 15px;
}

.icon-box {
  width: 100%;
  text-align: center;
}

.icon-box img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.icon-box p {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

.fale-conosco {
  display: flex;
  align-items: center;
  justify-content: space-evenly; /* Garante que a altura ocupe toda a tela */
  background-color: #49736c;
  padding: 20px;
  box-sizing: border-box;
}

/* Container do formulário */
.form-container {
  width: 50%;
  max-width: 500px; /* Limita o tamanho máximo */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.form-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-container p {
  font-size: 14px;
  margin-bottom: 20px;
}

/* Estilo do formulário */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  gap: 20px;
}

.input-group div {
  flex: 1;
}

label {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

button {
  background-color: white;
  color: #49736c;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #395d56;
  color: white;
}

/* Container da imagem */
.image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 80%; /* Limita o tamanho máximo */
  height: auto;
  border-radius: 25px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  color: #395d56;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.modal.active {
  display: block;
}
.modal button {
  margin-top: 20px;
  background-color: #49736c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.modal button:hover {
  background-color: #395d56;
}

/* Fundo escuro atrás do modal */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.overlay.active {
  display: block;
}

.quem-somos {
  background-color: #f5f5f5;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
}

.quem-somos-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

/* Estilo da imagem */
.quem-somos .imagem img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo do conteúdo textual */
.quem-somos .conteudo {
  width: 50%;
}

.quem-somos .conteudo h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.quem-somos .conteudo p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
  text-align: justify;
}

.quem-somos .conteudo span {
  font-weight: bold;
  color: #00796b; /* Cor verde para destaque */
}
.rodape {
  background-color: #4d4d4d;
  color: #fff;
  padding: 20px 40px;
  font-size: 0.9rem;
}

.rodape-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
}

/* Estilo da seção da logo */
.rodape .logo {
  flex: 1;
}

.rodape .logo p {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 10px;
}

.rodape .logo a {
  color: #ccc;
  text-decoration: none;
  font-size: 0.8rem;
}

.rodape .logo a:hover {
  text-decoration: underline;
}

/* Estilo das informações */
.rodape .informacoes {
  flex: 2;
  text-align: right;
}

.rodape .informacoes p {
  margin: 5px 0;
}

.rodape .informacoes a {
  color: #fff;
  text-decoration: none;
}

.rodape .informacoes a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 1024px) {
  .logo{
    width: 20px;
    height: 20px;
  }
  .image-container img {
    width: 90%; /* Limita o tamanho máximo */
  }
  .slide {
    height: 350px; /* Altura aumentada */
  }
  .slide p {
    font-size: 1.4rem;
  }
  .menu-hamburguer {
    display: block;
  }

  .pagina-diferenciais h2 {
    font-size: 1.75rem;
  }

  .flex-item {
    flex: 0 1 calc(50% - 20px); /* Dois itens por linha */
  }
  .metodologia {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .logo{
    width: 15px;
    height: 15px;
  }
  .flex-item {
    flex: 0 1 calc(50% - 20px); /* 2 itens por linha em telas menores */
  }
  .cronograma-container {
    flex-direction: column; /* Empilha as etapas verticalmente */
    gap: 30px; /* Aumenta o espaço entre os itens */
  }
  .etapa {
    width: 100%; /* Garante que cada etapa ocupe a largura disponível */
  }
  .fale-conosco {
    flex-direction: column;
  }

  .form-container {
    padding-right: 0;
  }

  .image-container {
    margin-top: 20px;
  }
  .quem-somos-container {
    flex-direction: column;
    text-align: center;
  }

  .quem-somos .imagem img {
    width: 100%;
    height: auto;
  }

  .quem-somos .conteudo {
    padding: 0 20px;
  }
  .rodape-container {
    flex-direction: column;
    text-align: center;
  }

  .rodape .logo,
  .rodape .informacoes {
    text-align: center;
  }
  .pagina-principal {
    height: 60vh;
  }

  .flex-item {
    flex: 0 1 calc(100% - 20px); /* Um item por linha */
  }

  .cabecalho {
    height: 60px;
    gap: 10px;
  }
  .nossos-servicos {
    flex-direction: column;
    gap: 40px;
  }
  .nossos-servicos h2{
    width: 70%;
  }
  .servicos-container{
    width: 70%;
  }
  .informacao-container{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .slide {
    height: 300px; /* Altura aumentada */
  }
  .slide p {
    font-size: 1.25rem;
  }
}
@media (max-width: 480px) {
  .flex-item {
    flex: 0 1 100%; /* 1 item por linha em telas muito pequenas */
  }
  .acesso{
    display: none;
  }
  .numero {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .etapa p {
    font-size: 12px; /* Texto menor para caber em telas muito pequenas */
  }
  .pagina-principal {
    height: 50vh;
  }

  .flex-item p {
    font-size: 12px;
  }

  .cabecalho-interface a {
    font-size: 0.9rem;
  }

  .menu-hamburguer {
    font-size: 1.75rem;
  }
  .pagina-diferenciais{
    display: none;
  }
  .topico span {
    font-size: 1.25rem;
  }
  .left-panel {
    width: 90%;
  }
  .left-panel h2{
    width: 90%;
  }
  .form-container {
    width: 90%;
  }
  .image-container img {
    display: none;
  }
  .quem-somos .imagem img {
    display: none;
  }
  .quem-somos .conteudo {
    width: 90%;
  }
}

